.references-section {
    position: relative;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: var(--padding) 10%;
}

.references-section span {
    width: 100%;
    padding-bottom: var(--padding);
}

.reference {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 30%;
    box-shadow: 10px 10px 18px -8px rgb(0 0 0 / 20%);
    border: solid 1px #035aa6;
    padding: 2.14em;
    background-color: rgba(245,245,245,0.4);
}

.reference::before {
    content: '';
    position:absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 32px;
    width: 32px;
    margin-left: -15px;
    transform: rotate(180deg);
    background: url('../../icons/quote.svg');
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reference img {
    max-width: 90px;
    border-radius: 50%;
    place-self: center center;
    box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 30%);
    margin-bottom: 20px;
}

.reference h3 {
    font-weight: 700;
    -webkit-margin-before: 2.4em;
            margin-block-start: 2.4em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
}

.reference p {
    -webkit-margin-before: 0.2em;
            margin-block-start: 0.2em;
}

/************ Tablet ************/

@media screen and (min-width:765px) and (max-width: 980px) {
    .references-section {
        padding: var(--padding) 10%;
    }

    .reference {
        grid-template-columns: 120px 1fr;
        margin: 1.2em 0;
        width: 100%;
        padding-top: 3em
    }

    .reference img {
        place-self:  start;
        grid-row: 1/4;
    }

    .reference h3 {
    -webkit-margin-before: 1.5em;
            margin-block-start: 1.5em;
}
    
}

/************ Mobile ************/

@media screen and (max-width: 765px) {
    .references-section {
        padding: var(--padding) 5%;
    }

    .reference {
        margin: 30px 0;
        width: 100%;
    }

    .reference::before {
    top: -15px;
    left: 0%;
}
}