.welcome-section {
	width: 100%;
	padding: 170px 10%;
	background: linear-gradient(
			180deg,
			rgba(3, 90, 166, 0.2) 0%,
			rgba(36, 20, 25, 0.7) 100%
		),
		url('../../background/camera3.webp') no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
}
.greeting {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.welcome-section h1,
.welcome-section p {
	color: #fff;
	text-align: center;
}

.welcome-section h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3.4em;
	letter-spacing: 3px;
	-webkit-margin-after: 0.8em;
	margin-block-end: 0.8em;
}

.welcome-section p {
	-webkit-margin-before: 0;
	margin-block-start: 0;
	font-family: 'Great Vibes', handwriting;
	font-size: 3em;
}

/************ Tablet & Mobile ************/

@media screen and (max-width: 980px) {
	.welcome-section {
		padding: 120px 10%;
	}
}
