.about-me-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: calc(var(--padding) * 2) 10%;
    gap: 0 3%;
    align-items: center;
}

/************ Left ************/

.about-me-section .left {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-content: start;
}

.left img {
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 2px 18px 3px rgb(0 0 0 / 30%);
    justify-self: center;
    margin-bottom: 30px;
}

.left h2 {
    font-size: 2.2em;
}

.left h2:last-of-type {
    text-transform: uppercase;
}

.about-me-section .left b {
    color: var(--blue-color);
}

.left p {
    line-height: 1.8em;
    font-size: 1.2em;
    width: 90%;
    word-wrap:break-word;
}

.left button {
    margin-top: 45px;
    width: fit-content;
    color: #ffffff;
    border-width: 0px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600!important;
    text-transform: uppercase;
    background-color: var(--orange-color);
    padding: 18px ;
}

/************ Right ************/

.right {
    background: url('../../background/montaz-bg_2.webp') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/************ Tablet & Mobile ************/

@media screen and (max-width: 980px) {
    .about-me-section {
    grid-template-columns: 1fr;
    gap: 0;
    align-items: center;
    padding: var(--padding) 5%;
}

.left {
    padding-bottom: 30px;
}
.right {
    background: url('../../background/montaz-bg.webp') no-repeat center center;
    height: 400px;
}
    
}