.quote-section {
    position:relative;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    padding: 200px 10%;
    width: 100%;
    background: url('../../background/Idea-page.webp') no-repeat center center;
    background-size: cover;
}

.quote {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--padding);
    background-color: #fff;
    max-width: 750px;
}

.quote h1 {
    font-size: 2em;
    font-weight: 500;
    color: #333;
}

.quote h1:first-child {
    justify-self: start;
    margin-bottom: 50px;
}

.quote h1:last-child {
    justify-self: end;
}