.crew-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: var(--padding) 10%;
    justify-content: space-between;
    align-content: center;
    height: max-content;
    background-image: url('../../background/network-sphere1.webp');
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.crew-section span {
    width: 100%;
    margin-bottom: 40px;
}

.crew {
    max-width: 17%;
}

.crew img {
    width: 100%;
}

.crew h3 {
    font-size: 1.3em;
    font-weight: 700;
    margin-block-end: 0em;
    margin-block-start: 0.4em;
}
 .crew p {
     color: #aaa;
 }

/************ crew styling ************/

.crew-section .sound {
    border-radius: 20% 40% 0% 40%;
    overflow: hidden;
}

.crew-section .mounter {
    border-radius: 40% 20% 40% 0%;
    overflow: hidden;
}

.crew-section .operator {
    border-radius: 10% 10% 10% 10%;
    overflow: hidden;
}

.crew-section .director {
    border-radius: 20% 40% 0 40%;
    overflow: hidden;
}

.crew-section .staff {
    border-radius: 40% 20% 40% 0%;
    overflow: hidden;
}

/************ Tablet ************/

@media screen and (min-width: 765px) and (max-width:980px) {
 .crew-section {
     padding: var(--padding) 10%;
     justify-content: space-evenly;
 }
    .crew {
    max-width: 30%;
}

.crew-section .sound {
    border-radius: 20% 40% 0% 40%;
}

.crew-section .mounter {
    border-radius: 10% 10% 10% 10%;
}

.crew-section .operator {
    border-radius: 40% 20% 40% 0%;

}

.crew-section .director {
    border-radius: 20% 40% 0 40%;
}

.crew-section .staff {
    border-radius: 40% 20% 40% 0%;
}
    
}

/************ Mobile ************/

@media screen and (max-width:765px) {
.crew-section {
     padding: var(--padding) 5%;
     justify-content: space-around;
 }
 
    .crew {
    max-width: 45%;
}

.crew-section .sound {
    border-radius: 20% 40% 0% 40%;
}

.crew-section .mounter {
    border-radius: 40% 20% 40% 0%;

}

.crew-section .operator {
    border-radius: 20% 40% 0% 40%;
}

.crew-section .director {
    border-radius: 40% 20% 40% 0%;
}

.crew-section .staff {
    border-radius: 10% 10% 10% 10%;
}

}