.menu {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 54px;
	background-color: var(--blue-color);
	padding: 0 10%;
	z-index: 999;
}

.menu > span {
	width: 80px;
	height: 80px;
	transform: scale(1);
	transform-origin: center top;
	-webkit-filter: drop-shadow(none);
	filter: drop-shadow(none);
	transition: all 0.5s ease;
	cursor: pointer;
}
.menu > span:hover {
	-webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
	transform: scale(1.05);
}

.tabs {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.tabs h2 {
	font-weight: 300;
	-webkit-margin-before: 0.83em;
	margin-block-start: 0.83em;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	opacity: 1;
	transition: all 0.3s ease;
	cursor: pointer;
}

.tabs h2:hover {
	opacity: 0.5;
}

.tabs h2:link {
	color: #fff !important;
}

/************ MOBILE ************/

@media screen and (max-width: 765px) {
	.menu {
		width: 100%;
		padding: 0;
		margin: 0;
		justify-content: space-around;
	}

	.menu > h2 > span {
		max-width: 75px;
	}

	.tabs {
		width: 100%;
		justify-content: space-around;
		padding: 0 10px;
	}

	.tabs > h2 {
		padding: 0;
	}
}
